p{
    color: #eee;
    font-family:'PT Sans';
    font-size: 30px; 
} 
.button {
    
    display: inline-block;
    border-radius: 5px;
    background-color:rgb(153, 134, 51) ;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 10px;
    padding: 8px;
    width: 100x;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
  } 
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  #label {
    counter-reset: li; 
    list-style: none; 
    *list-style: decimal; 
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

#label ol {
    margin: 0 0 0 2em; 
}

#label li{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;   
}

#label li:hover{
    background: #eee;
}

#label li:hover:before{
    transform: rotate(360deg);  
}

#label li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}