<div class="formStyle">
  <form class="form" (ngSubmit)="onSubmitForm()">
    <div class="form-row" >
      <div class="col">
        <input  type="text" name="name" class="form-control" placeholder="name ..." [(ngModel)]="name">
      </div>

      <div class="col">
        <input name="duration" type="number" class="form-control" placeholder="duration" [(ngModel)]="duration">
      </div>

      <div class="col">
            <input name="genre" type="text" class="form-control" placeholder="Genre" [(ngModel)]="Genre">
      </div>
          
      <div class="col">
            <input name="actorId" type="number" class="form-control" placeholder="actor Id" [(ngModel)]="actorId">
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary" >
  </form>
</div>