<div [ngClass]="setClasses()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <p>
                    <label for="{{movie}}">
                        {{ movie.id }}
                        {{ movie.name }}
                        {{ movie.duration }}
                        {{ movie.genre }}
                        {{ movie.actorId }}   
                    </label>
                    
                </p>
            </div>

            <div class="col-md-3">
                    <button (click)="onDelete(movie)" class="button" style="vertical-align:middle" ><span>Delete</span></button>
                    <button (click)="onEdit(movie)" class="button" style="vertical-align:middle" ><span>Edit</span></button>
            </div>
        </div>
        
    </div>
    
</div> 