<body  >
    <div class="row">
        <div class="col-12 jumbotron jumbotron-fluid height100px  banner" id="home">
                <div class="container h100 text-center">
                    <div class="h100 text-center">
                        <div>
                            <h1>Bienvenido</h1>
                            <p id="sub">Las mejores peliculas </p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <section class="sec1" id="explore">
        <div class="container-fluid">
            <div class="row">
                <div class="offset-sm-2 col-sm-8 ">
                    <div class="headerText text-center text-dark card"style="margin-left: 80px; margin-right:80px"  >
                            <h2>El mejor entrenimiento </h2>
                        </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" style="margin:50px">
            <div class="placeBox">
                <div class="card shadow w-76" style="margin: 30px;">
                    <div class="inner">
                        <img src="../../../../assets/cine.jpg" width="500" height="350" >
                    </div>
                    <div class="card-body text-center">
                        <h3 class="card-title">EL MEJOR CINE</h3>
                        <p>para la mejor clientela</p>
                    </div>
                </div>
            </div>
            
            
                <div class="placeBox">
                    <div class="card shadow w-76" style="margin: 30px;">
                        <div class="inner">
                            <img src="../../../../assets/cartelera.jpeg" width="500" height="350">
                        </div>
                        <div class="card-body text-center ">
                                <h3 class="card-title">SUPREME</h3>
                                <p>disfruta tu peliula con las mejores palomitas y bebidas</p>
                        </div>
                    </div>
                </div>
            
        </div>
    </section>
</body>